In [19]:
import pandas as pd

df = pd.read_csv('../resources/input/SYB67_1_202411_Population, Surface Area and Density.csv')

df.describe()
df.head(3)

,T02,"Population, density and surface area",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Region/Country/Area,NaN,Year,Series,Value,Footnotes,Source
1,1,"Total, all countries or areas",2010,Population mid-year estimates (millions),"7,021.73",NaN,"United Nations Population Division, New York, ..."
2,1,"Total, all countries or areas",2010,Population mid-year estimates for males (milli...,"3,533.14",NaN,"United Nations Population Division, New York, ..."