In [2]:
import pandas as pd

df = pd.read_csv('../resources/input/SYB67_1_202411_Population, Surface Area and Density.csv')

# df.describe()
df.head(100)
# df.columns
# df.info()

,T02,"Population, density and surface area",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Region/Country/Area,NaN,Year,Series,Value,Footnotes,Source
1,1,"Total, all countries or areas",2010,Population mid-year estimates (millions),"7,021.73",NaN,"United Nations Population Division, New York, ..."
2,1,"Total, all countries or areas",2010,Population mid-year estimates for males (milli...,"3,533.14",NaN,"United Nations Population Division, New York, ..."
3,1,"Total, all countries or areas",2010,Population mid-year estimates for females (mil...,"3,488.59",NaN,"United Nations Population Division, New York, ..."
4,1,"Total, all countries or areas",2010,Sex ratio (males per 100 females),101.3,NaN,"United Nations Population Division, New York, ..."
...,...,...,...,...,...,...,...
95,202,Sub-Saharan Africa,2015,Population mid-year estimates (millions),987.41,NaN,"United Nations Population Division, New York, ..."
96,202,Sub-Saharan Africa,2015,Population mid-year estimates for males (milli...,491.50,NaN,"United Nations Population Division, New York, ..."
97,202,Sub-Saharan Africa,2015,Population mid-year estimates for females (mil...,495.91,NaN,"United Nations Population Division, New York, ..."
98,202,Sub-Saharan Africa,2015,Sex ratio (males per 100 females),99.1,NaN,"United Nations Population Division, New York, ..."
99,202,Sub-Saharan Africa,2015,Population aged 0 to 14 years old (percentage),43.2,Calculated by the UN Statistics Division.,"United Nations Population Division, New York, ..."