In [27]:
# If don't have, install only once
# !pip install kagglehub

import kagglehub
import pandas as pd
import os

path = kagglehub.dataset_download("snehangsude/audible-dataset")

df = pd.read_csv(os.path.join(path, 'audible_uncleaned.csv'))

# Check first views:
# df.head()
# df.describe()
# df.info()

In [28]:
# Clean text data in Author and Narrator columns
# Remove Writtenby: from the author column
df['author'] = df['author'].str.replace('Writtenby:', '')
# Remove Narratedby: from the narrator column
df['narrator'] = df['narrator'].str.replace('Narratedby:', '')
df.head(2)

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00
1,The Burning Maze,RickRiordan,RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00

In [29]:
# Clean stars table
# Create separate column for ratings
df['ratings'] = df['stars'].str.extract(r'stars(\d+)\s')
df['ratings'] = df['ratings'].fillna(0).astype('int')
# Create separate column for stars
df['stars out of five'] = df['stars'].str.extract(r'(\d+)\sout')
df['stars out of five'] = df['stars out of five'].fillna(0).astype('int')
df.drop('stars', axis=1, inplace=True)
# df.head(2)
# df['stars out of five'].unique()
# df['ratings'].sample(n=30)

In [30]:
# Replace the comma with ''
df['price'] = df['price'].str.replace(',', '')
# Replace 'Free' with 0
df['price'] = df['price'].str.replace('Free', '0')
# Turn price to float
df['price'] = df['price'].astype(float)
df['price'].sample(n=30)

13560     501.0
50607     118.0
75149     500.0
69419     668.0
85881     641.0
61091     345.0
45664     820.0
47072     486.0
51565      99.0
19427     267.0
606       192.0
75546     316.0
3956      105.0
86137     773.0
42611     703.0
56847     586.0
74601     668.0
22831     691.0
24849     755.0
56399     501.0
69771     836.0
24413     117.0
72734     703.0
783        76.0
23111    1093.0
32389     879.0
39472     224.0
83707     767.0
72414     490.0
74476     703.0
Name: price, dtype: float64